{% extends "base.html" %}
{% load static %}
{% block head %}
    <header class="header--main-page">
{% endblock head %}

{% block body %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ bags }}</em>
          <h3>Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em>{{ institution }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="/register" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="{% static 'images/signature.svg'%}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static 'images/about-us.jpg'%}" alt="People in circle" /></div>
    </section>

    <section id="help" class="help">
      <h2>Komu pomagamy?</h2>


      <ul class="help--buttons">
        <li data-id="1"><a href="/#help" class="btn btn--without-border " id="show_fund">Fundacjom</a></li>
        <li data-id="2"><a href="/#help" class="btn btn--without-border" id="show_org">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="/#help" class="btn btn--without-border" id="show_coll">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1" id="div_fundation">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        <ul class="help--slides-items" >
        {%  for el in fundation %}
        <li>
            <div class="col">
              <div class="title">{{ el.name }}</div>
              <div class="subtitle">{{ el.description }}</div>
            </div>
            <div class="col">
                <div class="text">{%for cat in el.categories.all %}{{ cat.name }},{% endfor %}</div>
            </div>
        </li>
        {% endfor %}
        </ul>
      </div>
{#        <ul class="help--buttons" id="div_fundation_btn" >#}
{#            <p><a href="/full_list/f"  class="btn btn--without-border" id="show_coll">Pokaz wszystkie fundacje</a></p>#}
{#        </ul>#}

{#                      Pagination#}
{#        {% if fundation.has_other_pages %}#}
{##}
{#        <ul class="help--slides-pagination" >#}
{#            {% if fundation.has_previous %}#}
{#                <li><a href="?page={{fundation.previous_page_number }}">&laquo;</a></li>#}
{#            {% else %}#}
{#                <li class="disabled"><span>&laquo;</span></li>#}
{#            {% endif %}#}
{##}
{#            {% for i in fundation.paginator.page_range %}#}
{#                {% if fundation.number == i %}#}
{#                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                {% else %}#}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{##}
{#            {% if fundation.has_next %}#}
{#              <li><a href="?page={{ fundation.next_page_number }}">&raquo;</a></li>#}
{#            {% else %}#}
{#              <li class="disabled"><span>&raquo;</span></li>#}
{#            {% endif %}#}
{##}
{#         </ul>#}
{#        {% endif %}#}


       <!-- SLIDE 2 -->
      <div class="help--slides " data-id="1" id="div_org">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis mollitia dolor,
            neque aspernatur accusamus debitis. Ducimus, officia. Quia, sunt illum! Non iste placeat ab ipsum alias
              quos suscipit corporis!</p>
        <ul class="help--slides-items" >
        {%  for el in org %}
        <li>
            <div class="col">
              <div class="title">{{ el.name }}</div>
              <div class="subtitle">{{ el.description }}</div>
            </div>
            <div class="col">
                <div class="text">{% for cat in el.categories.all %}{{ cat.name }},{% endfor %}</div>
            </div>
        </li>
        {% endfor %}
        </ul>
      </div>
{#        <ul class="help--buttons" id="div_org_btn" hidden>#}
{#            <p><a href="/full_list/org"  class="btn btn--without-border" id="show_coll">Pokaz wszystkie organizacje</a></p>#}
{#        </ul>#}


       <!-- SLIDE 3 -->
      <div class="help--slides" data-id="1" id="div_coll">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis mollitia dolor,
            neque aspernatur accusamus debitis. Ducimus, officia. Quia, sunt illum! Non iste placeat ab ipsum alias
              quos suscipit corporis!</p>

        <ul class="help--slides-items">
        {%  for el in lcolection %}
        <li>
            <div class="col">
              <div class="title">{{ el.name }}</div>
              <div class="subtitle">{{ el.description }}</div>
            </div>
            <div class="col">
                <div class="text">{% for cat in el.categories.all %}{{ cat.name }},{% endfor %}</div>
            </div>
        </li>
        {% endfor %}
        </ul>
      </div>
{#        <ul class="help--buttons" id="div_coll_btn" hidden>#}
{#            <p><a href="/full_list/zl" class="btn btn--without-border" id="show_coll">Pokaz wszystkie zbiorki lokalne</a></p>#}
{#        </ul>#}
    </section>

    <script src="{% static 'js/app.js'%}"></script>
{% endblock body %}









