{% extends "base.html" %}
{% load static %}

{% block head %}
    <header>
{% endblock head %}

{% block body %}
    <script src="{%  static 'js/app_u_edit.js'%}"></script>
    </header>

    <section class="login-page">
      <h2>Profile {{ user.username }}</h2>

       <form action="" method="post">
       <table>
            <tr>
                <td>Login:</td>
                <td>
                    <div class="form-group">
                       <input type="text" name="{{ user.username }}" placeholder="{{ user.username }}" disabled/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Imie:</td>
                <td>
                    <div class="form-group">
                       <input type="text" id="fn" name="first_name" placeholder="{{ user.first_name }}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>
                    <div class="form-group">
                        <input type="text" id="ln" name="last_name" placeholder="{{ user.last_name }}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <div class="form-group">
                        <input type="text" id="mail" name="email" placeholder="{{ user.email }}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Ostatni login:</td>
                <td>
                    <div class="form-group">
                        <input type="text" name="{{ user.last_login }}" placeholder="{{ user.last_login }}" disabled/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Data dolaczenia:</td>
                <td>
                   <div class="form-group">
                   <input type="text" name="{{ user.date_joined }}" placeholder="{{ user.date_joined }}" disabled/>
                </div>
                </td>
            </tr>
           <tr>
                <td>Nowe haslo: </td>
                <td>
                   <div class="form-group">
                   <input type="password" id="pwd" name="new_pswd" />
                </div>
                </td>
            </tr>
           <tr class="rep_pwd" hidden>
                <td>Powtorz haslo:</td>
                <td>
                   <div class="form-group">
                   <input type="password" name="new_pswd_rep" />
                </div>
                </td>
            </tr>

            <tr class=" psswd_div" hidden>
                <td>Podaj aktualne</td>
                <td>
                   <div class="form-group">
                        <input type="password" name="old_psswd"/>
                   </div>
                </td>
            </tr>
            <tr>
                <td><a href="" class="btn btn--without-border">Wyjdz</a></td>
                <td><button class="btn btn--without-border" type="submit">Zapisz modyfikacje</button></td>
            </tr>
        </table>




        {% csrf_token %}

      </form>
    </section>


{% endblock body %}
