{% extends "base.html" %}
{% load static %}

{% block head %}
    <header>
{% endblock head %}

{% block body %}
    </header>

    <section class="login-page">
      <h2>Profile {{ user.username }}</h2>

       <form action="" method="post">
            <div class="form-group">
              <input type="text" name="{{ user.username }}" placeholder="{{ user.username }}" disabled/>
            </div>
            <div class="form-group">
              <input type="text" name="{{ user.first_name }}" placeholder="{{ user.first_name }}" disabled/>
            </div>
            <div class="form-group">
              <input type="text" name="{{ user.last_name }}" placeholder="{{ user.last_name }}" disabled/>
            </div>
            <div class="form-group">
              <input type="text" name="{{ user.email }}" placeholder="{{ user.email }}" disabled/>
            </div>
            <div class="form-group">
              <input type="text" name="{{ user.last_login }}" placeholder="{{ user.last_loginusername }}" disabled/>
            </div>
            <div class="form-group">
              <input type="text" name="{{ user.date_joined }}" placeholder="{{ user.date_joined }}" disabled/>
            </div>

        {% csrf_token %}
           {% for el in don_list %}
            {{ el.pick_up_comment }}

           {% endfor %}
           {#            <div class="form-group form-group--buttons">#}
{#              <a href="/login" class="btn btn--without-border">Zaloguj się</a>#}
{#              <button class="btn" type="submit">Załóż konto</button>#}
{#            </div>#}
      </form>
    </section>


{% endblock body %}
